/* src/components/Home.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .hero {
    background-color: #333;
    color: white;
    padding: 100px 0;
    text-align: center;
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  button {
    background-color: #61dafb;
    color: white;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  .slick-track{
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2f80ed;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    
    background-color: #f5f5f5;
  }
  
 /* src/assets/css/home.css */
 .home-slider-feature {

    position: relative;
    height: 400px;
    padding: 150px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Resmin boyutunu koru ve içeriğini kırpa */
    z-index: -1;
  }
  
  .home-slider-content {
    z-index: 1;
    text-align: center;
    color: #333; /* Beyaz metin rengi */
    background-color: #ffffff88;
    box-shadow: 0 0 20px #ffffff88;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    padding: 10px;
    font-weight: 700;
}

  .slick-track{
    background-color: #333;
    gap: 10px;
    
  }
  .home-slider-content > div {
    margin-bottom: 10px;
  }
  
  .home-slider-content > div:first-child {
    font-size: 24px;
    font-weight: 900;
  }
  
  .home-slider-content > div:last-child {
    font-size: 16px;
  }
  
  
  
  
  h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .testimonial {
    background-color: #333;
    color: white;
    padding: 100px 0;
    text-align: center;
  }
  
  .testimonial-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .testimonial p {
    font-size: 1.2em;
  }
  
  /* Add more styles as needed */
  