/* src/assets/css/notfound.css */

.not-found-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #324595; /* Dark background color */
    color: #ecf0f1; /* Light text color */
  }
  
  .content {
    text-align: center;
    max-width: 600px;
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 4em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Add some border-radius for a rounded image */
  }
  